<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="Jordan Williams' Portfolio" />
    <meta property="og:image" content="https://res.cloudinary.com/dpjdvsigb/image/upload/v1602094415/personal-portfolio-assets/front-page-portfolio_ym3hxx.png" />
    <meta property="og:url" content="https://jordancwilliams.com/" />
    <meta property="og:description" content="About, Background, Projects, and Contact" />

    <title>Jordan Williams</title>

    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/147004cebf.js" crossorigin="anonymous"></script>

    <!-- BOOTSTRAP STYLESHEET -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- BOOTSTRAP JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <!-- USER STYLES AND SCRIPTS -->
    <link rel="stylesheet" href="style.css">
    <script type='text/javascript' src='config.js'></script>
    <script type='text/javascript' src="script.js" defer></script>
</head>

<body class="container-fluid remove-padding">
    <!-- NAVBAR -->
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top">
                <a class="navbar-brand" href="#home">JORDAN WILLIAMS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="left-nav-links">
                        <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#app">Portfolio</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#contact" tabindex="-1">Contact</a>
                        </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <!-- HERO -->
    <div class="row layer" id="home">
        <div class="col-12 remove-padding">
            <div class="jumbotron hero remove-padding remove-margin">
                <div class="hero-main">
                    <img class="press-photo" src="https://res.cloudinary.com/dpjdvsigb/image/upload/v1601610665/circle-cropped_rddnjd.png" alt="jordan-circle-press-photo">
                    <h1 class="display-4">Jordan Williams</h1>
                    <p class="lead">Full-Stack Software Engineer</p>
                    <div class="hero-buttons">
                        <a class="btn hero-btn btn-lg" href="#about" role="button">About</a>
                        <a class="btn hero-btn btn-lg" href="#app" role="button">Portfolio</a>
                        <a class="btn hero-btn btn-lg" href="#contact" role="button">Let's Work</a>
                    </div>
                </div>
                <div class="arrow">
                    <div class="arrow-down"><i class="fas fa-chevron-down"></i></div>
                </div>
            </div>
        </div>
    </div>

    <!-- ABOUT -->
    <div class="row" id="about">
        <div class="col-sm-12 col-md-8 col-lg-6 about-container">
            <h1 class="introduction">Hi, I'm Jordan. Nice to meet you!</h1>
            <p>I am a software engineer with a background in the music industry. At my core, I am an organized thinker that loves problem solving. While in music, I developed both of these skills through finding creative and efficient ways to bring artists to market and, as a software engineer, I utilize these skills through creative and efficient ways to develop reliable applications. I am passionate about contributing to work that I am proud of and that benefits society, and look forward to life's challenges or error messages as an opportunity for growth.</p>
        </div>
    </div>

    <!-- WHERE I'VE WORKED -->
    <div class="where-ive-worked">
        <div class="lifted-resume">
        <h1 class="history-text">Background</h1>
        <div class="row where-ive-worked-resume">
            <div class="resume-nav col-sm-12 col-lg-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-twitch-tab" data-toggle="pill" href="#v-pills-twitch" role="tab" aria-controls="v-pills-twitch-tab" aria-selected="true">Twitch</a>
                <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">General Assembly</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">EQT</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Certifications</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Skills</a>
                </div>
            </div>
            <div class="pill-content col-sml-12 col-lg-9">
                <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-twitch" role="tabpanel" aria-labelledby="v-pills-twitch-tab">
                    <h4 class="pane-header">Artist Account Manager</h4>
                    <h5 class="pane-header"><i>Twitch | November 2020 - Present</i></h5>
                    <ul>
                        <li>Manage professional relationships with acquired and existing artist partners</li>
                        <li>Develop communications and documentation for both education and program outreach, including co-hosting music creator informational webinars</li>
                        <li>Analyze partner data and trending creator formats to help improve partner monetary performance, audience engagement, and content strategy</li>
                        <li>Run Python scripts with Mode and Google Docs APIs for Google Sheets reports</li>
                        <li>Work directly with the Product team to gather feedback and report on Twitch's product, resulting in improvements for front page placement strategy</li>
                    </ul>
                </div>


                <div class="tab-pane fade show" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <h4 class="pane-header">Software Engineering Fellow</h4>
                    <h5 class="pane-header"><i>General Assembly | June 2020 - September 2020</i></h5>
                    <ul>
                        <li>Completed a 500-hour, full-time and full-stack program conducted in a remote setting, providing experience with the latest front-end and back-end programming languages, tools, and methodologies </li>
                        <li>Troubleshooted and collaborated with classmates on nightly homework assignments and daily labs</li>
                        <li>Practiced and reviewed daily algorithm and data structure challenges in Javascript, Ruby, and Python</li>
                        <li>Produced three individual (i.e. two full-stack and one frontend) projects and collaborated with four other developers via GitHub to produce one full-stack application</li>
                    </ul>
                </div>

                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <h4 class="pane-header">Artist Manager / Project Manager</h4>
                    <h5 class="pane-header"><i>EQT, LLC | March 2018 - February 2020</i></h5>
                    <ul>
                        <li>Provided managerial support to rapper JPEGMAFIA, Producer/DJ Swell, and Soulection artist LAKIM</li>
                        <li>Collaborated with partners both internally and externally on touring, release, and business strategies, contributing to $500,000 in gross revenue for clients in 2019</li>
                        <li>Hired and managed touring personnel and touring budgets for several US and EU tours, resulting in up to $100k+ in profit</li>
                        <li>Managed touring logistics and travel arrangements for tours with up to $25,000 in travel expenses per tour</li>
                        <li>Liaised with merchandise partners and lead strategy for managed clients, resulting in up to $40k+ sales in a 24-hour period</li>
                    </ul>

                    <h4 class="pane-header">Operations Specialist</h4>
                    <h5 class="pane-header"><i>EQT, LLC | May 2017- February 2020</i></h5>
                    <ul>
                        <li>Liaised internally with employees on additional skills and responsibilities relevant for their position</li>
                        <li>Advised and implemented company wide processes and applications to improve day-to-day efficiency</li>
                        <li>Advised upper management on employee roles and growth trajectories</li>
                        <li>Identified client communication inefficiencies and implemented internal communications plans for each client</li>
                        <li>Collaborated internally on NY-based employee event planning and community building activities</li>
                        <li>Coached interns to improve social media, organizational, and administrative responsibilities</li>
                    </ul>
                </div>

                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <h4 class="pane-header">General Assembly</h4>
                    <h5 class="pane-header"><i>Certificate of Completion, ‘Software Engineering Immersive’ | September 2020</i></h5>
                    <ul>
                        <li>Distributed by General Assembly for completion of a three-month, 500-hour full-time and full-stack program conducted in a remote setting, providing experience with the latest front-end and back-end programming languages, tools, and methodologies</li>
                    </ul>
                    
                    <h4 class="pane-header">FreeCodeCamp</h4>
                    <h5 class="pane-header"><i>Certification of Completion, ‘Responsive Web Design’ | March 2020</i></h5>
                    <ul>
                        <li>Distributed by FCC for completion of Responsive Web Design course, representing approximately 300 hours of coursework</li>
                    </ul>

                    <h4 class="pane-header">Design Lab</h4>
                    <h5 class="pane-header"><i>Certificate of Completion, ‘Design 101’, Design Lab | September 2016</i></h5>
                    <ul>
                        <li>Distributed by Design Lab  for completion of Design 101 course, covering wireframing, UI/UX design, and Photoshop skills.</li>
                    </ul>
                </div>

                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <h4 class="pane-header">Languages</h4>
                        <ul>
                            <li>HTML, CSS, Javascript, Python</li>
                        </ul>
    
                        <h4 class="pane-header">Frameworks</h4>
                        <ul>
                            <li>Node.js, Express.js, Vue.js, jQuery, Bootstrap 4, Django</li>
                        </ul>
                        
                        <h4 class="pane-header">Databases</h4>
                        <ul>
                            <li>MongoDB, Mongoose, Mongo Atlas, PostgreSQL</li>
                        </ul>

                        <h4 class="pane-header">Tools & Concepts</h4>
                        <ul>
                            <li>Git/Github, Heroku, Netlify, Object-Oriented Programming (OOP), Algorithms, Data Structures, REST API Development, Wireframing, Responsive Web Design</li>
                        </ul>
                </div>
                <div class="resume-button">
                    <a href="https://www.dropbox.com/s/hyt6fs1c7ehc5m5/Jordan-Chude-Williams-Resum%C3%A9.pdf?dl=0" class="btn btn-primary project-button" target="_blank">View Full Resumé</a>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    

    <!-- PROJECTS -->
    <div id="app">
        <div class="row">
            <div class="col">
                <h1 class="projects-text">Projects</h1>
            </div>
        </div>
        <div class="row projects">
            <div v-for="project in projects" class="col-sm-12 col-md-6 col-lg-4">
                <div class="card">
                    <video class="card-img-top video" alt="Card image cap" muted controls loop onmouseover="this.play()" onmouseout="this.pause();">
                            <source :src="project.image">
                    </video>
                    <div class="card-body">
                        <h5 class="card-title">{{project.title}}</h5>
                        <p class="card-text">
                            <strong>STACK</strong>: {{project.stack}} <br>
                            <strong>DESCRIPTION</strong>: {{project.description}}
                        </p>
                        <a :href=project.url class="btn btn-primary project-button" target="_blank" v-if=project.url>Demo</a>
                        <a :href=project.frontend class="btn btn-primary project-button" target="_blank" v-if=project.frontend>Frontend</a>
                        <a :href=project.backend class="btn btn-primary project-button" target="_blank" v-if=project.backend>Backend</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTACT SECTION -->
    <div class="row" id="contact">
        <div class="col contact-form">
                <form
                action="https://formspree.io/f/xrgobozp"
                method="POST">

                <h1 class="lets-work">Let's Work</h1>
                
                <label>
                    <input type="text" name="name" placeholder="NAME" class="form-input">
                </label>

                <label>
                  <input type="text" name="_replyto" placeholder="EMAIL" class="form-input">
                </label>

                <label>
                  <textarea name="message" placeholder="MESSAGE" class="form-input"></textarea>
                </label>
              
                <button class="form-submit" type="submit">Send</button>
              </form>
        </div>
    </div>


    
    <!-- FOOTER -->
    <footer class="row footer">
        <div class="col icons">
            <a href="https://github.com/jordanchude" target="_blank"><i class="fab fa-github-square fa-3x icon"></i></a>
            <a href="https://linkedin.com/in/jordanchude" target="_blank"><i class="fab fa-linkedin fa-3x icon"></i></a>
            <a href="https://instagram.com/jordanchude" target="_blank"><i class="fab fa-instagram-square fa-3x icon"></i></a>
            <a href="https://twitter.com/jordanchude" target="_blank"><i class="fab fa-twitter-square fa-3x icon"></i></a>
        </div>
    </footer>
</body>
</html>