/* GLOBAL VARIABLES */
    :root {
        --main-color: #750FF7;
        --main: #7511f6;
        --secondary: #FFFFFF;
    }

/* BOOTSTRAP OVERRIDES */
.remove-padding {
    padding: 0 ! important;
    overflow-x: hidden;
}

.remove-margin {
    margin: 0 ! important;
}

/* HERO */
.hero {
    background-color: rgba(0,0,0,0.3);
    color: white;
    position: relative;
    background-position: center;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.layer {
    background: url(https://res.cloudinary.com/dpjdvsigb/image/upload/v1594764618/Jordan_Chude_Williams_Press_Photo_han403.jpg);
    background-position: center;
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.arrow-down {
    font-size: 40px;
    bottom: 0;
    position: absolute;
    bottom: 0px;
}

.arrow-down > i {
    animation: bounce 2s ease infinite;
  }
  @keyframes bounce {
      0% {
          transform: translateY(0);
      }
      50% {
          transform: translateY(-30px);
      }
      100% {
          transform: translateY(0);
      }
  }

  /* ABOUT */
  #about {
      align-items: center;
      background-color: var(--main-color);
      color: white;
      display: flex;
      flex-direction: column;
      padding: 5% 0 10% 0;
      justify-content: center;
      text-align: justify;
  }

  .about-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  /* WHERE I'VE WORKED */
  .where-ive-worked {
      padding: 0 0 5% 0;
      margin-top: -7.5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
  }

  .where-ive-worked-resume {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: nowrap;
  }

  .lifted-resume {
      background: white;
      border: 1px solid var(--main-color);
      border-radius: 20px;
      box-shadow: 1px 1px 5px var(--main-color);
      padding: 10px;
  }

  .history-text {
      text-align: center;
  }

  /* PROJECTS */
  .projects-text {
      text-align: center;
  }

  #app {
      width: 100%;
      margin: 0 auto;
  }

  .projects {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .card:hover {
    box-shadow: 1px 1px 5px var(--main-color);
    border: 1px solid var(--main-color);
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
  }

  /* contact */
form {
    background: var(--main);
    border-radius: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    min-width: 250px;
    width: 25%;
}

.form-input {
    border: 3px solid var(--secondary);
    margin-bottom: 20px;
}

.contact-header {
    color: var(--main);
    text-shadow: 1px 1px 1px black;
}
.contact-div {
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}

.contact-button {
    background: var(--secondary);
    color: var(--main);
}

.contact-button:hover {
    background: var(--main);
    border: 1px solid var(--secondary);
    color: var(--secondary);
}

#contact-form {
    background: var(--secondary);
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}