/* GLOBAL VARIABLES */
:root {
    --main-color: #8C52FF;
    --secondary: #FFFFFF;
}

/* BOOTSTRAP OVERRIDES */
.remove-padding {
    padding: 0 ! important;
    overflow-x: hidden;
}

.remove-margin {
    margin: 0 ! important;
}

.container {
    margin: 0;
    padding: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
    padding: 0;
}

.col {
    margin: 0;
    padding: 0;
}

/* NAVBAR */
.navbar {
    background-color: var(--main-color) ! important;
}

.left-nav-links {
    margin-left: auto;
}

/* HERO */

.hero {
    background-color: rgba(0,0,0,0.3);
    color: white;
    background-position: center;
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.layer {
    background: url(https://res.cloudinary.com/dpjdvsigb/image/upload/v1594764618/Jordan_Chude_Williams_Press_Photo_han403.jpg);
    background-position: center;
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.lead {
    text-align: center;
}

.hero-buttons {
    text-align: center;
}

.display-4 {
    text-align: center;
}

.hero-btn {
    border: 3px solid var(--main-color);
    border-radius: 100px;
    color: white;
}

.hero-btn:hover {
    background-color: var(--main-color);
    color: white;
}

.arrow-down {
    font-size: 40px;
    color: var(--main-color);
    position: absolute;
    bottom: 0;
}

.arrow-down > i {
    animation: bounce 2s ease infinite;
  }
  @keyframes bounce {
      0% {
          transform: translateY(0);
      }
      50% {
          transform: translateY(-30px);
      }
      100% {
          transform: translateY(0);
      }
  }

/* ABOUT */
#about {
    align-items: center;
    background-color: var(--main-color);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 5% 0 10% 0;
    justify-content: center;
    text-align: justify;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* WHERE I'VE WORKED */
.where-ive-worked {
    padding: 0 0 5% 0;
    margin-top: -7.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.where-ive-worked-resume {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.lifted-resume {
    background: white;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    box-shadow: 1px 1px 5px var(--main-color);
    padding: 10px;
}

.history-text {
    text-align: center;
}

/* PROJECTS */
.projects-text {
    text-align: center;
}

#app {
    /* width: 100%; */
    margin: 0 auto;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
box-shadow: 1px 1px 5px var(--main-color);
border: 1px solid var(--main-color);
transition: all .4s ease;
-webkit-transition: all .4s ease;
}

/* CONTACT FORM */
form {
    background: white;
    border-radius: 20px;
    border: 1px solid var(--main-color);
    box-shadow: 1px 1px 5px var(--main-color);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 1% 2% 2% 2%;
    min-width: 250px;
    width: 25%;
    margin-top: 5%;
    margin-bottom: -7.5%;
}

.form-input {
    border: 3px solid var(--main-color);
    width: 100%;
}

.contact-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lets-work {
    text-align: center;
}

/* FOOTER */
footer {
    height: 30vh;
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.icons {
    margin-top: 6%;
}

.icon {
    margin: 0 1% 0 1%;
    color: white;
}

.icon:hover {
    cursor: pointer;
}

@media (max-width: 767px) {
    .arrow-down {
        left: 45%;
    }
}